SCOREBOARD_URL=https://site.api.espn.com/apis/site/v2/sports/football/nfl/scoreboard
MAX_ATTEMPTS=3
REQUEST_TIMEOUT_SECONDS=30
RETRY_DELAY_SECONDS=2
STALE_THRESHOLD_MINUTES=10
DATA_DIRECTORY=data
LOG_DIRECTORY=logs